<app-header title="Inicio de sesión" subtitle="A D M I N"></app-header>

<ion-content class="ion-padding">
    <div class="d-flex-center">
        <form [formGroup]="form" class="forms-auth ion-text-center" (ngSubmit)="onSubmit()" (keypress.enter)="onSubmit()">
            <app-logo></app-logo>

            <app-custom-input type="email" label="Correo" icon="mail-outline" [control]="form.controls.email"></app-custom-input>
            <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
                <div *ngIf="form.controls.email.errors?.['required']">El correo es obligatorio</div>
                <div *ngIf="form.controls.email.errors?.['email']">El correo no es valido</div>
            </div>

            <app-custom-input type="password" label="Contraseña" icon="lock-closed-outline" [control]="form.controls.password"></app-custom-input>
            <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
                <div *ngIf="form.controls.password.errors?.['required']">La contraseña es obligatorio</div>
            </div>

            <p class="ion-text-end ion-no-margin cursor-pointer" routerLink="forgot-password">¿Olvidaste tu contraseña?</p>

            <ion-button type="submit" expand="block" mode="ios" class="submit ion-margin-bottom" [disabled]="form.invalid">
                Ingresar
                <ion-icon slot="end" name="log-in-outline"></ion-icon>
            </ion-button>

            <ion-button expand="block" mode="ios" fill="outline" routerLink="sign-up">
                Registrate
                <ion-icon slot="end" name="person-add-outline"></ion-icon>
            </ion-button>
        </form>
    </div>
</ion-content>
