<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start" *ngIf="showMenu">
      <ion-menu-button menu="main-content"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="start" *ngIf="backButton">
      <ion-back-button [defaultHref]="backButton"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <strong>{{ title }}</strong>
      <div class="admin">{{ subtitle }}</div>
    </ion-title>

    <ion-buttons slot="end" *ngIf="isModal">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
